*{
  margin:0px; 
  padding: 0px; 
} 
a.cd-dropdown-trigger  {
  font-color:white !important;
  color:white !important;
  background-color: #48a553;

}
#xoa_user{

  height: 300px;
  overflow: auto;
}
#xoathietbi{
  height: 350px;
  overflow: auto;
}
 
a{
  color:blue;
  text-decoration: none !important; 
}
 
.menu2{
   border-right:1px solid #bbb;
    color: white;
 
    padding: 14px 16px;
    background-color: #b3f79e;
    overflow: auto;
}  
 
@charset "UTF-8";
 
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #111433;
  background-color: #ffffff;
}

 

img {
  max-width: 100%;
}

input {
  font-family: sans-serif;
  font-size: 1.6rem;
  border: 1px solid gray;
}
 

 

/* -------------------------------- 

Main Components 

-------------------------------- */
header {
  height: 50px;
  background: #ffffff;
  
} 
 
.cd-dropdown-wrapper {
  display: inline-block;
  position: absolute;
 
  width: 100px;
  margin: 3px 0 0 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.cd-dropdown-trigger {
  display: block;
  position: relative;
  padding: 0 36px 0 20px;
  line-height: 40px; /* chieu cao menu*/
  background-color: #3da04a;
  color: #ffffff;
  border-radius: 5px;
}
 
.cd-dropdown-trigger::before, .cd-dropdown-trigger::after {
  /* this is the arrow inside the dropdown trigger*/
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 9px;
  background: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: width 0.3s, -webkit-transform 0.3s;
  -moz-transition: width 0.3s, -moz-transform 0.3s;
  transition: width 0.3s, transform 0.3s;
}
.cd-dropdown-trigger::before {
  right: 22px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-dropdown-trigger::after {
  right: 17px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
 
@media only screen and (min-width: 24px) {
      .cd-dropdown-trigger {
        font-size: 1.5rem;
      }
      .cd-dropdown-trigger.dropdown-is-active {
        background-color: #3f8654;
      }
      .no-touch .cd-dropdown-trigger.dropdown-is-active:hover {
        background-color: #47975f;
      }
      .cd-dropdown-trigger.dropdown-is-active::before, .cd-dropdown-trigger.dropdown-is-active::after {
        /* transform the arrow into a 'X' */
        width: 14px;
      }
      .cd-dropdown-trigger.dropdown-is-active::before {
        /* transform the arrow into a 'X' */
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
      }
      .cd-dropdown-trigger.dropdown-is-active::after {
        /* transform the arrow into a 'X' */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
}

 

@media only screen and (min-width: 24px) {
      .cd-dropdown h2,
      .cd-dropdown-content a,
      .cd-dropdown-content ul a {
        height: 20px;
        line-height: 20px;
      }
}

.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {
  padding: 0 20px;
}

.cd-dropdown {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;/* tat ca o */
  background-color: #111433;
  color: #ffffff;
  visibility: hidden;
  /* Force Hardware Acceleration */
 
}
 
.cd-dropdown.dropdown-is-active {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
  transition: transform 0.5s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 24px) {
      .cd-dropdown .cd-close {
        top: 5px;
      }
}
 

.cd-dropdown-content, .cd-dropdown-content ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  padding-top: 50px;
}
.cd-dropdown-content a, .cd-dropdown-content ul a {
  display: block;
  color: #ffffff;
  /* truncate text with ellipsis if too long */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top-width: 1px;
  border-color: #242643;
  border-style: solid;
}
 
@media only screen and (min-width: 24px) {
      .cd-dropdown-content, .cd-dropdown-content ul {
        padding-top: 60px;
      }
      .cd-dropdown-content a, .cd-dropdown-content ul a {
        font-size: 1.8rem;
      }
}
@media only screen and (min-width: 24px) {
      .cd-dropdown-content, .cd-dropdown-content ul {
        padding-top: 0;
        overflow: visible;
      }
      .cd-dropdown-content a, .cd-dropdown-content ul a {
        color: #111433;
        height: 50px;/* chieu cao tung o*/
        line-height: 50px;
        font-size: 1.5rem;
        border-color: #ebebeb;
      }
}

@media only screen and (min-width: 24px) {
      .cd-dropdown-content {
        /* reset mobile style */
        position: static;
        height: auto;
        width: 280px;
      }
      .cd-dropdown-content > li:last-of-type a {
        border-bottom: none;
      }
         
      .cd-dropdown-content .cd-dropdown-icons {
        width: 600px;
      }
      
      .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item:hover {
        background: #ebebeb;
      }
      .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
        color: #3f8654;
        font-weight: bold;
      }
      .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
        display: block;
        font-size: 1.2rem;
      }
      .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
        left: 25px;
      }  
}
  
 
.cd-dropdown-content .go-back a::before, .cd-dropdown-content .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

 
 
 
@media only screen and (min-width: 24px) {
  .cd-dropdown {

    position: relative;
     
    /* reset style*/
 
    width: 160;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    background-color: #b3f79e;
    color: #111433;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
  }
  .open-to-left .cd-dropdown {
    /* use the .open-to-left class if you want to open the dropdown on the left */
    right: 0;
    left: auto;
  }
  .cd-dropdown h2, .cd-dropdown .cd-close {
    /* on desktop - hide title and 'X' */
    display: none;
  }
  .cd-dropdown.dropdown-is-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0s, visibility 0.3s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0.3s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
  }
}
tr,td{
    padding:0px 0px;
    height: 35px;
}
ul ul{
  position: absolute;
}
.cd-dropdown-content{
  position: relative;
}
.cd-dropdown-content li .is-hidden{
  display: none;
  position: absolute;
  line-height: 50px;
  visibility: visible;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.cd-dropdown-content li:hover >.is-hidden  {
  display:  block;
   
}
.cd-dropdown-content li:hover .is-hidden  .is-hidden2{
  display:  none;
}
.cd-dropdown-content li:hover .is-hidden li:hover >.is-hidden2  {
  display:  block;

}

.cd-dropdown-content li:hover{
  background-color: #f98c2c;
   -webkit-transition: .9s ease;
    transition: .9s ease;
  width: 160px;
}
.cd-dropdown-content li .is-hidden a:hover {
  -webkit-transition: .9s ease;
    transition: .9s ease;
   background-color: #f98c2c;
}
 .cd-dropdown-content .is-hidden  {
  display: none;
  margin-left: 162px;
  width:160px;
  position: absolute;

}
.cd-dropdown{
  width:161px;
}
.cd-dropdown-content ul{
  display: inline;
  position: absolute;
}
.menu1{
  position: relative;
 
   
}
 
.cd-dropdown-content li a{
  width: 160px;
  padding:0;margin:0;
  padding-left: ;
  position: relative;
  text-align: center;
}
.dangxuat{
  color:white;
    background-color:#5cb85c;  
    border: 2px  ;
    padding: 9px;
    margin-top: 2px;
    font-size: 20px;
    border-radius: 3px;
    margin-right: 10px;
}
 
.notification {
  color: black  ;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */
}
 
.dropdown-content-notify {     
    display: none;
    position: fixed;
    min-width: 110px; 
   
}
li .dropdown-content-notify a {
    padding: 12px 16px;
    width: 500px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    text-align: left;

} 
.show{display: block; z-index: 110;}

#notify{
   color: blue;
}

#lichsu_menu1{
   margin-top: 100px  ;
}
