 

 
body{
  background-color:#eee;
}

/* tim kiem */
.search_box {
  z-index: 2;
  width:260px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  top:10px;
  height:48px;
  transition:opacity 0.4s linear ,visibility 0.4s linear 0s;
}
.search_box > #search {
  position: absolute;
  right: 50px;
  width:200px;
  height:48px;
  border: 2px solid #1ad1f2;
  border-radius:6px 0px 0px 6px;
  box-shadow: 1px 2px 2px #ddd; 
}
input , input:focus {
  border:none;
  box-shadow:none;
  background-color:none;
  outline: 0 !important;
  font-size:16px;
  z-index: 2;
  padding:0px 12px;
}
.search_box > #searchclick{
  font-family:'fontawesome';
  position: absolute;
  right: 0;
  color:#ffffff;
  display:inline-block !important;
  background-color:#1ad1f2;
  height:48px;
  width:48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer !important;
  border-left:1px solid #ddd;
  top:0;
  box-shadow: 1px 2px 2px #ddd;
  z-index: 3;
}
/* end tim kiem */

#map {
  width: 100%;
  height: 100%;
  z-index: 0;
 
}
 
/* menu */
#container{
  z-index: 1;
   position: fixed;
   margin-top: 10px;
   margin-left: 5px;
    
}
  
 
.thietbi{
  background-color: #b3f79e;
}
#input_timeout{
  box-shadow: 5px 5px 5px #666;
  width: 170px;
  height:50px;
  font-size: 17px;
}
#input_them_timeout{
  box-shadow: 5px 5px 5px #666;
  width: 140px;
  height:50px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
}
 
@media only screen and (max-width: 700px) {
    #container ul li{
      height:30px ;
      line-height: 30px;
      width: 110px !important;  
      font-size: 15;
    }
    #container ul ul ul{
      margin-left: 110px;
      
    }
     .search_box ,.search_box > #searchclick{
      height: 40px;
      width: 40px;
       line-height: 40px;
      padding-top:0px;
    }
    .search_box > #search {
      height: 40px;
      width:100px;
      right:40px ;
    }
    #search{
      font-size: 15;
    }
    .xoathietbi{
      overflow: 10px;
    }
    .lichsu{
      height: 280px;
    }
     
    .xoathietbi{
      height: 160px;
    }
    .xoa_user{
      height: 160px;
    }
    

    #note{
      font-size: 11 !important;
    }
    #div_hoatdong,#div_kohoatdong{
      width:105px !important;

    }

    
    .hoatdong_thietbi{
        line-height: 10px !important;
        font-size: 15 !important;
    }
    .autocomplete-items{
      width:100px !important;
      left:-100 !important;
    }
     .autocomplete-items div {
         padding: 5px !important;
     }


}
 
@media only screen and (max-width: 300px) {
    #container ul li{
      height:30px ;
      line-height: 30px;
      width: 90px !important;
      font-size: 11;
    }
    #container ul ul ul{
      margin-left: 90px;
      
    }
    .search_box ,.search_box > #searchclick{
      height: 30px;
      width: 30px;
      line-height: 30px;
      padding-top:0px;
    }
    .search_box > #search {
      height: 30px;
      width:100px;
       
    }
    #search{
      font-size: 11;
    }
    .xoathietbi{
      overflow: 10px;
    }
    .lichsu{
      height: 210px;
    }
    
    .xoathietbi{
      height: 120px;
    }
    .xoa_user{
      height: 120px;
    }
    .thietbi_map{
      height: 240px !important;
    }
}



#note{
    position: fixed;
    top: 60;
    right: 10;
    z-index: 1;
 
    padding:5;
    margin-bottom: 0;
    font-size: 15;
}
#div_hoatdong{
  float: left;
  background-color: #ffe18e ;
  font-weight: bold;
  border : 1px solid white;
   background-color: # ;
  color:green;
  width: 140px;
  text-align: center;
  overflow: auto; 

}

#div_kohoatdong
{
  float: left;
  font-weight: bold;
  border-left : 1px solid white;
  border-right : 1px solid white;
  border-top : 1px solid white;
  background-color: #ffe18e ;
  color:red;
  width: 140px;
  text-align: center;
  overflow: auto; 
}
 
#dropdown_hoatdong,#dropdown_kohoatdong{
  float:left;
}
 
#hoatdong,#kohoatdong{
  display: none;
  position: absolute;
  margin-top: 44px;
  color:green;
  width: 140px;
  text-align: center;
  height: 550px;
  overflow: auto; 
}
#kohoatdong{
  color: red;
 
}
#dropdown_hoatdong:hover #hoatdong,#dropdown_kohoatdong:hover #kohoatdong{
  display:  block ;
}
#dropdown_hoatdong{
  position: relative;
}
#hoatdong .hoatdong_thietbi:hover,   #kohoatdong .hoatdong_thietbi:hover,#div_hoatdong:hover,#div_kohoatdong:hover{
  background-color: #f5fc23;
}
.hoatdong_thietbi{
   line-height: 28px;
   list-style: none;
   background-color: #ffe18e ;
   border : 1px solid white;
}